body {
    background-color: #A7C5BD;
    background-image: url("../imgs/escheresque-dark.png");
}

/* #5fbdd9 old hexcolor */

/*

#A7C5BD
#E5DDCB
#EB7B59
#CF4647
#524656

*/

.page-bar {
    margin-top: 0;
    width: 100vw;
    height: 200px;
    background-color: #EB7B59;
}

.mid {
    min-height: 100vh;
}

.card .card-reveal {
    background-color: #E5DDCB;
}

nav, .page-footer {
    background-color: #CF4647;
}